<div class="jumbotron center">
  <h1>Welcome to my App </h1>
<p> Everyone come to see - lets lern together</p>

<%= link_to"login", new_user_session_path, class: 'btn btn-default' %>
<%=link_to"join", new_user_registration_path, class: 'btn btn-primary' %>

</div>


