<div class="jumbotron center">
  <h1>Welcome to my App </h1>
<p> Everyone come to see - lets lern together</p>

<% link_to"login", root_path, class: 'btn btn-default' %>
<button type="button" class=btn btn-default"> Login </button>


<% link_to"join", root_path, class: 'btn btn-primary' %>
<button type="button" class=btn btn-primary"> Join </button>
</div>


