$navbar-height: 100px;
$navbar-default-bg: #DC7633;
$navbar-default-link-hover-color: yellow;
$jumbotron-bg: #AD1457;
$jumbotron-heading-color: #B0BEC5;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
    text-align: center;
    $text-color: black;
}